[submodule "osis_common"]
	path = osis_common
	url = https://github.com/uclouvain/osis-common.git
	branch = master
[submodule "internship"]
	path = internship
	url = https://github.com/uclouvain/osis-internship.git
[submodule "partnership"]
	path = partnership
	url = https://github.com/uclouvain/osis-partnership.git
[submodule "admission"]
	path = admission
	url = https://github.com/uclouvain/osis-admission.git
[submodule "osis_history"]
	path = osis_history
	url = https://github.com/uclouvain/osis-history.git
[submodule "osis_mail_template"]
	path = osis_mail_template
	url = https://github.com/uclouvain/osis-mail-template.git
