coverage==4.5.1
Django==2.2.13
openpyxl==2.3.2
Pillow==7.2.0
psycopg2-binary==2.7.5
reportlab==3.5.34
django-analytical==2.4.0
django-localflavor==1.6
django-statici18n==1.8.3
factory_boy==2.8.1
django-dotenv==1.4.2
pendulum==1.2.0
djangorestframework==3.9.4
gitpython==2.1.9
requests==2.20.0
django-bootstrap3==11.1.0
django-ordered-model==2.1.0
django-waffle==0.14.0
redis==2.10.6
django-redis==4.9.0
beautifulsoup4==4.6.3
pypom==2.2.0
selenium==3.11.0
python-magic==0.4.15
# setuptools 50.0 causes issues
setuptools==49.6.0

-r ./osis_common/requirements.txt
-r ./internship/requirements.txt
-r ./osis_role/requirements.txt

