{% load static i18n bootstrap3 %}

<div class="tab-list">
	<a hx-get="{% url 'EventModelingView' %}" class="selected">Contenu</a>
	<a hx-get="{% url 'formulaire_inscription_view' %}">Formulaire</a>
</div>

<div class="tab-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="btn-action-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-cog" aria-hidden="true"></span> {% trans 'Actions' %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" aria-labelledby="btn-action-down">
                            <li><a href="" hx-get="{% url 'add_learning_units_view' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Ajouter des UE" %}</a></li>
                            <li><a href="" hx-get="{% url 'delete_learning_units_view' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Supprimer des UE" %}</a></li>
                            <li><a href="" hx-get="{% url 'modifier-proprietes-contenu' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Modifier les propriétés" %}</a></li>
                        </ul>
                    </div>
                </div>
                <h5>{% trans "MAT1ECGE - Formation pluridisciplinaires en sciences humaines" %}</h5>
            </div>

            <div class="panel-body table-responsive">
                <div id="content-of-main-panel">

                    {% include "mockup/blocks/consulter_contenu_groupement.html" %}

                </div>
{#                                <div id="content-of-main-panel2">#}
{##}
{#                    #}
{##}
{#                </div>#}
            </div>
        </div>
</div>
