{% load static i18n bootstrap3 %}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="" hx-get="{% url 'EventModelingView' %}" hx-target="#tabs"
                                              hx-trigger="click" hx-swap="innerHTML">Contenu</a></li>
    <li role="presentation" class=""><a href="" hx-get="{% url 'formulaire_inscription_view' %}" hx-target="#tabs"
                                        hx-trigger="click" hx-swap="innerHTML">Vue formulaire</a></li>
</ul>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="btn-action-down"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-cog" aria-hidden="true"></span> {% trans 'Actions' %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="btn-action-down">
                    <li><a href="" hx-get="{% url 'add_learning_units_view' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Ajouter des UE" %}</a></li>
                    <li><a href="" hx-get="{% url 'delete_learning_units_view' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Supprimer des UE" %}</a></li>
                    <li><a href="" hx-get="{% url 'modifier-proprietes-contenu' %}" hx-target="#content-of-main-panel" hx-trigger="click">{% trans "Modifier les propriétés" %}</a></li>
                </ul>
            </div>
        </div>
        <h5>{% trans "MAT1ECGE - Formation pluridisciplinaires en sciences humaines" %}</h5>
    </div>

    <div class="panel-body table-responsive">
        <div id="content-of-main-panel">

            {% include "mockup/blocks/consulter_contenu_groupement.html" %}

        </div>
    </div>
</div>
