{% load static i18n bootstrap3 %}
<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="" hx-get="{% url 'EventModelingView' %}" hx-target="#tabs"
                                        hx-trigger="click" hx-swap="innerHTML">Contenu</a></li>
    <li role="presentation" class="active"><a href="" hx-get="{% url 'formulaire_inscription_view' %}" hx-target="#tabs"
                                              hx-trigger="click" hx-swap="innerHTML">Vue formulaire</a></li>
</ul>
<br>
<table class="table table-hover">
    <thead>
    <tr style="border-bottom: solid;max-width: max-content">
        <th>
            <strong>Bachelier en sciences économiques et de gestion</strong>
        </th>
        <th>An 1</th>
        <th>An 2</th>
            <th>An 3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span style="padding-left: 20px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    Contenu:
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 30px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                     Programme de base
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 40px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    Formation pluridisciplinaire en sciences humaines
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LESPO1114 - Political Science
                </span>
            </td>
            <td></td>
            <td><label title="An 2">X</label></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LECGE1115 - Economie politique
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LINGE1122 - Physique 1
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tr>
        <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/optional.png">
                    LINGE1125 - Séminaire de travail universitaire en gestion
                </span>
        </td>
        <td><label title="An 1">X</label></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
