{% load i18n %}
<a
        type="button"
        class="btn btn-default btn-sm"
        id="lnk_supprimer_ue"
        data-toggle="tooltip"
        title="{% trans "Cancel edit" %}"
        style="padding-left: 8px; padding-right:8px"
        hx-get="{% url 'annuler_ajustement_modification_view' annee code_programme code_groupement code_ue %}"
                                              hx-target="#content-of-main-panel" hx-trigger="click"
                                              hx-swap="innerHTML" data-toggle="tab"
>
    <span class="fa fa-redo-alt text-primary" aria-hidden="true"></span>
</a>
