{% load static i18n bootstrap3 %}

<div class="tab-list">
	<a hx-get="{% url 'consulter_contenu_groupement_view' %}">{% trans "Content" %}</a>
	<a hx-get="{% url 'pae_formulaire_inscription_view' %}" class="selected">{% trans "Form view" %}</a>
</div>

<div class="tab-content">
    <div class="panel panel-default">

    <table class="table table-hover">
        <thead>
        <tr style="border-bottom: solid;max-width: max-content">
            <th>
                <strong>Bachelier en sciences économiques et de gestion</strong>
            </th>
            <th>An 1</th>
            <th>An 2</th>
            <th>An 3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span style="padding-left: 20px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    Contenu:
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 30px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                     Programme de base
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 40px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    Formation pluridisciplinaire en sciences humaines
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LESPO1113 - Sociologie et anthropologie des mondes contemporains
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LESPO1321 - Economic, Political and Social Ethics
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LESPO1114 - Political Science
                </span>
            </td>
            <td></td>
            <td><label title="An 2">X</label></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LECGE1115 - Economie politique
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LINGE1122 - Physique 1
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    LINGE1125 - Séminaire de travail universitaire en gestion
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
