{% load static i18n bootstrap3 %}

<div class="tab-list">
	<a hx-get="{% url 'consulter_contenu_groupement_view' %}">{% trans "Content" %}</a>
	<a hx-get="{% url 'pae_formulaire_inscription_view' %}" class="selected">{% trans "Form view" %}</a>
</div>

<div class="tab-content">
    <div class="panel panel-default">

    <table class="table table-hover">
        <thead>
        <tr style="border-bottom: solid;max-width: max-content">
            <th>
                <strong>Bachelier en sciences économiques et de gestion</strong>
            </th>
            <th>An 1</th>
            <th>An 2</th>
            <th>An 3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span style="padding-left: 20px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.text }}
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 30px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                     {{ tree.0.children.0.children.0.text }}
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 40px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.text }}
                </span>
            </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.0.text }}
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.1.text }}
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.2.text }}
                </span>
            </td>
            <td></td>
            <td><label title="An 2">X</label></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.3.text }}
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.4.text }}
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tr>
            <td>
                <span style="padding-left: 60px;">
                    <img src="/static/img/education_group_year/mandatory.png">
                    {{ tree.0.children.0.children.0.children.0.children.5.text }}
                </span>
            </td>
            <td><label title="An 1">X</label></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
