{% load static i18n bootstrap3 %}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="" hx-get="{% url 'consulter_contenu_groupement_view' year acronym %}" hx-target="#tabs" hx-trigger="click" hx-swap="innerHTML">Contenu</a></li>
    <li role="presentation" class=""><a href="" hx-get="{% url 'pae_formulaire_inscription_view' year acronym %}" hx-target="#tabs" hx-trigger="click" hx-swap="innerHTML">Formulaire</a></li>
</ul>

<div class="tab-content">
        <div id="content-of-main-panel" class="panel panel-default">
            {% include "preparation_inscription/consulter_contenu_groupement.html" %}
        </div>
    </div>
</div>
