{% load i18n static %}
<li id="{{ sous_programme.code }}"
    data-jstree='{"icon":"{% if sous_programme.obligatoire %}{% static "img/education_group_year/mandatory.png" %}{% else %}{% static "img/education_group_year/optional.png" %}{% endif %}"}'
>
    {{ sous_programme.code }} - {{ sous_programme.intitule_complet }}
    {% if sous_programme.sous_programme or sous_programme.unites_enseignements %}
        <ul>
            {% for sous_programme in sous_programme.sous_programme %}
                {% include 'preparation_inscription/blocks/tree_sous_programme.html' with tree=sous_programme %}
            {% endfor %}
            {% for unite_enseignement in sous_programme.unites_enseignements %}
                {% include 'preparation_inscription/blocks/tree_unites_enseignements.html' with unite_enseignement=unite_enseignement %}
            {% endfor %}
            {% for unite_enseignement in sous_programme.unites_enseignement_ajoutees %}
                {% include 'preparation_inscription/blocks/tree_unites_enseignements_ajoutees.html' with unite_enseignement=unite_enseignement %}
            {% endfor %}
        </ul>
    {% endif %}
</li>