{% load i18n %}
{% load bootstrap3 %}
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <label>{% trans 'Institution' %}</label>
            <br>
            UClouvain
        </div>
        <br>
        <div>
            {% bootstrap_field form.learning_unit_campus %}
        </div>
        <div>
            {% bootstrap_field form.learning_unit_responsible_entity %}
        </div>
        <div>
            {% bootstrap_field form.learning_unit_allocation_entity %}
        </div>

        <div>
            {% bootstrap_field form.repartition_entity_2 %}
        </div>
        <div>
            {% bootstrap_field form.repartition_entity_3 %}
        </div>

        <div>
            {% bootstrap_field form.learning_unit_year %}
        </div>
    </div>
</div>

