{% load static i18n bootstrap3 %}

<div class="panel-heading">
    <h5>MAT1ECGE - Formation pluridisciplinaire en sciences humaines</h5>
</div>

<div class="panel-body">

<form method="GET"
      id="form_list_search"
>
    {{ search_form.media }}
    <div class="row">
        <div class="col-md-2">
            {% bootstrap_field search_form.code %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field search_form.sigle %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field search_form.intitule %}
        </div>
        <div class="col-md-1">
            <br>
            <button id="bt_search_list"
                    class="btn btn-primary"
                    role="button"
                    style="margin-top: 4px"
                    title="{% trans 'Search' %}"
            >
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <button id="btn_clear_filter"
                    class="btn btn-default"
                    role="button"
                    style="margin-top: 4px"
                    onclick="">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>

<br>
<hr>
<br>

<table id="table_search_list" class="table table-hover">
    <thead>
        <tr>
            <th id="checkbox">
                <input id="id_check_all" type="checkbox" name="check_all" title="{% trans 'Check All' %}"/>
            </th>
            <th id="code">{% trans 'Code' %}</th>
            <th id="sigle">{% trans 'Sigle' %}</th>
            <th id="intitule">{% trans 'Intitulé' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for element in search_results %}
        <tr>
            <td>
                <input type="checkbox" class="select-row-checkbox" />
            </td>
            <td headers="code">
                {{ element.code }}
            </td>
            <td headers="sigle">
                {{ element.sigle }}
            </td>
            <td headers="intitule">
                {{ element.intitule }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

<div class="panel-footer text-right">
    <a href=""
       class="btn btn-default">{% trans "Cancel" %}</a>
    <a href="" hx-post="{% url 'consulter-contenu-groupement-mockup-resultat-apres-ajout-groupements' annee code_programme %}"
       hx-target="#content-of-main-panel" hx-trigger="click" type="button"
       class="btn btn-primary">{% trans "Add" %}</a>
</div>


<!-- move into block script at end of file -->
<script>
    document.querySelector("#id_check_all").addEventListener('click', (e) => {
        document.querySelectorAll('.select-row-checkbox').forEach(checkbox => checkbox.checked = e.target.checked);
    });
</script>