{% load i18n %}


<!-- Modal -->
<div class="modal fade" id="annuler_suppression_modal" tabindex="-1" role="dialog" aria-labelledby="annuler_suppression_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="annuler_suppression_modal_label">{% trans "Annuler la suppression ?" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans "Cette action annulera la suppression de l'UE X du groupement 'Y'" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> {% trans "Ne pas annuler" %}</button>
                <button type="button" class="btn btn-primary"><icon class="fa fa-save"> </icon>
                    {% trans 'Annuler la suppression' %}</button>
            </div>
        </div>
    </div>
</div>