{% load static i18n bootstrap3 %}

<form method="post" action='{{ request.get_full_path }}' class="post-form" id="form-modal">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-center"
            id="annuler_etat_initial_modal_label">{% trans "Return to the initial state of the program ?" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% trans "Are you sure you want to reset all program content ?" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> {% trans "Annuler" %}</button>
        <input type="submit" class="btn btn-danger" value="{% trans "Oui, je confirme" %}">
    </div>
</form>