{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="annuler_modification_modal" tabindex="-1" role="dialog" aria-labelledby="annuler_modification_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="annuler_modification_modal_label">{% trans "Cancel modification" %} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans "That action will cancel the modificatio of the LU X in the group 'Y'" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> {% trans "Do not cancel" %}</button>
                <button type="button" class="btn btn-primary"><icon class="fa fa-save"> </icon>
                    {% trans 'Cancel modification' %}</button>
            </div>
        </div>
    </div>
</div>