{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="annuler_ajout_modal" tabindex="-1" role="dialog" aria-labelledby="annuler_ajout_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="annuler_ajout_modal_label">{% trans "Cancel add ?" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% trans "This action will cancel addition of learning unit X to group Y" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> {% trans "Do not cancel" %}</button>
                <button type="button" class="btn btn-primary"><icon class="fa fa-save"> </icon>
                    {% trans "Cancel add" %}</button>
            </div>
        </div>
    </div>
</div>